<ul class="nav">
  <li{{#if projects}} class="active"{{/if}}>
    <a href="#/"><i class="icon-briefcase"></i> Projects</a>
  </li>
  <li{{#if templates}} class="active"{{/if}}>
    <a href="#/templates"><i class="icon-paste"></i> Templates</a>
  </li>
  <li{{#if settings}} class="active"{{/if}}>
    <a href="#/settings"><i class="icon-wrench"></i> Settings</a>
  </li>
</ul>
