<ul class="nav">
  <li{{#if projects}} class="active"{{/if}}>
    <a href="#/"><i class="icon-briefcase"></i> Projects</a>
  </li>
  <li class="visible-admin{{#if templates}} active{{/if}}">
    <a href="#/templates"><i class="icon-paste"></i> Templates</a>
  </li>
  <li class="visible-admin{{#if settings}} active{{/if}}">
    <a href="#/settings"><i class="icon-wrench"></i> Settings</a>
  </li>
</ul>
