<div id="main">
  <div class="container-fluid">

    <form id="settings-form" class="form-horizontal">

      <fieldset>
        <legend>Template sources</legend>
        <div class="control-group">
          <label class="control-label" for="template_sources">Source URLs</label>
          <div class="controls">
            <textarea class="input-xlarge" id="template_sources" rows="5">{{#each settings.templates.sources}}{{this}}
{{/each}}</textarea>
            <p class="help-block">Enter one full URL per line (including http://)</p>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Projects list</legend>
        <div class="control-group">
          <label class="control-label" for="projects_show_no_templates">No templates</label>
          <div class="controls">
            <label class="checkbox" for="projects_show_no_templates">
              <input type="checkbox" id="projects_show_no_templates" {{#if settings.projects.show_no_templates}}checked="checked" {{/if}}/>
              Include projects with no template (opens database in Futon)
            </label>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="projects_show_unknown_templates">Unknown templates</label>
          <div class="controls">
            <label class="checkbox" for="projects_show_unknown_templates">
              <input type="checkbox" id="projects_show_unknown_templates" {{#if settings.projects.show_unknown_templates}}checked="checked" {{/if}}/>
              Include projects with unknown templates in the list
            </label>
          </div>
        </div>
      </fieldset>

    </form>

  </div>
</div>

<div class="admin-bar visible-admin">
  <div class="admin-bar-inner">
    <div id="admin-bar-status"></div>
    <div id="admin-bar-controls">
      <a id="settings-save-btn" class="btn btn-primary" href="#">
        <i class="icon-save"></i> Save changes
      </a>
    </div>
  </div>
</div>
