<table class="table table-striped table-templates">
  <thead>
    <tr>
      <th>Name</th>
      <th>Source</th>
      <th>Installed</th>
      <th>Available</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
