<ul class="nav">
  <li{{#if databases}} class="active"{{/if}}>
    <a href="#/">Databases</a>
  </li>
  <li{{#if templates}} class="active"{{/if}}>
    <a href="#/templates">Templates</a>
  </li>
  <!--
  <li{{#if library}} class="active"{{/if}}>
    <a href="#/library">Library</a>
  </li>
  -->
  <li{{#if settings}} class="active"{{/if}}>
    <a href="#/settings">Settings</a>
  </li>
</ul>
