<div id="main">
  <div class="container-fluid">
  </div>
</div>

<div class="admin-bar visible-admin">
  <div class="admin-bar-inner">
    <div id="admin-bar-status"></div>
    <div id="admin-bar-controls">
      <a id="databases-add-btn" class="btn btn-success" href="#/library">
        <i class="icon-plus-sign"></i> Get more templates
      </a>
    </div>
  </div>
</div>
