<div id="main">
  <div class="container-fluid">
  </div>
</div>

<div class="admin-bar visible-admin">
  <div class="admin-bar-inner">
    <div id="admin-bar-status"></div>
    <div id="admin-bar-controls">
      <a id="templates-instaled-update-btn" class="btn" href="#">
        <i class="icon-refresh"></i> Check for updates
      </a>
      <a id="templates-installed-add-btn" class="btn btn-success" href="#/settings">
        <i class="icon-plus-sign"></i> Add sources
      </a>
    </div>
  </div>
</div>
