<h4>Application Access</h4>
<form class="form-horizontal">
<fieldset>
  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      <label class="radio">
        <input type="radio" id="optionsRadios1" class="access_radio" name="access" value="admins"  {{#if access_type_admins}}checked="checked"{{/if}}>
        Admins only
      </label>
      <label class="radio">
            <input type="radio" id="optionsRadios2" class="access_radio" name="access" value="public" {{#if access_type_public}}checked="checked"{{/if}}>
            Public
      </label>
      <label class="radio">
        <input type="radio" id="optionsRadios3" class="access_radio" name="access" value="groups" {{#if access_type_groups}}checked="checked"{{/if}}>
        Specified Groups
      </label>
    </div>
  </div>


  <div class="control-group group-table" {{#unless access_type_groups}}style="display: none;"{{/unless}}>
      <label></label>
      <div class="controls">
              <select name="group_access" id="group_access" multiple data-placeholder="Enter a group name"></select>
      </div>
  </div>


  <div class="form-actions">
    <button type="submit" class="btn primary save">Save changes</button>
  </div>
</fieldset>
</form>