<div class="row">
    <div class="offset1 span10">
        <form class="form app-settings">
            <fieldset>
              <div id="app_settings_schema" class="appdata" data-dbname="{{installed.db}}" data-ddoc="{{doc_id}}">
                <div class="spinner">
                  <i class="icon-spinner icon-spin"></i>
                </div>
              </div>
            </fieldset>
            <div class="alert alert-block hide">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <h4 class="head"></h4>
              <div class="msg"></div>
            </div>

            <fieldset class="form-actions">
                <button class="btn save primary">Save</button>
                <div class="secondary-actions">
                    <a class="btn small backup">Backup</a>
                    <button class="btn small restore">Restore</button>
                    <div style='height: 0px;width: 0px; overflow:hidden;'>
                        <input  id="fileUploader" type="file" accept="application/json">
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>
