<!DOCTYPE html>
<html  {{#unless dont_cache}}manifest="dashboard.appcache"{{/unless}}>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script>
      // ensure trailing slash on _rewrite path
      if (!/\/$/.test(window.location.pathname)) {
        window.location = window.location.pathname + '/' + location.hash;
      }
    </script>
    <link rel="stylesheet" type="text/css" href="{{baseURL}}static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/dashboard/_design/dashboard/_rewrite/_topbar.css" />
    {{#each styles}}
      <link rel="stylesheet" type="text/css" href="{{this}}">
    {{/each}}
    <link rel="shortcut icon" href="static/img/garden-18.png" />
    <title>{{title}}</title>
  </head>
  <body>

    <div id="dashboard-topbar"></div>



    <div class="container" role="main" data-dashboardurl="{{dashboard_url}}">

        {{{content}}}


    </div>

    <script type="text/javascript" src="{{baseURL}}modules.js"></script>
    <script type="text/javascript">
      // so the jquery plugins below work
      window.$ = window.jQuery = require('jquery');
    </script>
    <script type="text/javascript" src="{{baseURL}}static/js/lib/jquery-ui-1.8.5.custom.min.js"></script>
    <script type="text/javascript" src="/dashboard/_design/dashboard/_rewrite/static/js/topbar.js"></script>
    <script type="text/javascript" src="{{baseURL}}static/js/lib/jquery.couch.js"></script>
    <script type="text/javascript" src="{{baseURL}}static/js/lib/amplify.min.js"></script>
    <script type="text/javascript" src="{{baseURL}}static/js/lib/director-1.0.8.min.js"></script>
    <script type="text/javascript" src="{{baseURL}}static/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{baseURL}}static/js/lib/moment.min.js"></script>
    <script type="text/javascript" src="{{baseURL}}static/js/common.js"></script>
    {{#each scripts}}
    <script type="text/javascript" src="{{../baseURL}}{{this}}"></script>
    {{/each}}
  </body>
</html>
