
<div class="app-details">
    <h3>App Details</h3>

    Name : {{kanso.config.name}}<br/>
    Description: {{kanso.config.description}}<br/>
    Version: {{kanso.config.version}}<br/>
    From: <a href="{{src}}">{{src}}</a>
</div>
<div class="alert span4 offset2 install-message" >
    <p><strong>Heads up!</strong> You are about to <strong>install</strong> this app. Make sure you trust the app, and  details on this page.</p>
</div>

<fieldset class="form-actions">
    <a href="{{src}}/install">Prev</a>
    <button class="btn primary large">Install</button>
</fieldset>


<div class="well install-info" style="display: none;">

    <h4>Creating DB</h4>

    <div class="progress info striped active install-info"  style="display: none;">
      <div class="bar" style="width: 10%;"></div>
    </div>

    <a href="#" class="btn success large after-open" style="display: none;">Open App</a>
    <a href="#" class="btn  after-settings" style="display: none;">Configure App</a>

</div>





