<tr>
    <td class="location" colspan="5">
        Apps from <a href="{{location}}">{{location}}</a>
    </td>
</tr>
{{#each apps}}
<tr class="{{id}}">
    <td>{{value.dashboard_title}} </td>
    <td>{{value.app}}</td>
    <td class="installed-version">{{value.version}}</td>
    <td class="available-version"><img src="static/img/ajax-loader.gif" alt="loading..." /></td>
    <td>
        <a href="#/apps/{{id}}" class="btn small">Settings</a>
        <a href="update/{{id}}" class="btn primary small update-action" style="display: none;">Update</a>
        {{#if flattrLink}}{{{flattrLink}}}{{/if}}
    </td>
</tr>
{{/each}}