

        {{#unless isAdmin}}
            <div class="alert-message warning">
              <p>You need to be an admin to view/edit this section.</p>
            </div>

        {{/unless}}
        {{#if isAdmin}}

        <div class="tabbable">
          <ul class="nav tabs">
            <li class="active"><a href="#apps" data-toggle="tab">Apps</a></li>
            <li><a href="#sync" data-toggle="tab">Sync</a></li>
            <li><a href="#links" data-toggle="tab">Links</a></li>
            <li><a href="#ordering" data-toggle="tab">Ordering</a></li>
            <li><a href="#theme" data-toggle="tab">Theme</a></li>
            <li><a href="#frontpage" data-toggle="tab">Front Page</a></li>
            <li><a href="#host-options" data-toggle="tab">Host Options</a></li>
            <li><a href="#sessions" data-toggle="tab">Sessions</a></li>
            <li><a href="#admins" data-toggle="tab">Admins</a></li>
            <li><a href="#groups" data-toggle="tab">Groups</a></li>
            <li><a href="#users" data-toggle="tab">Users</a></li>
          </ul>



          <div class="tab-content">
              <div class="tab-pane active" id="apps">
                  

              </div>
              <div class="tab-pane" id="sync" data-host_options="{{host_options}}">


              </div>
            <div class="tab-pane front-page" id="frontpage">



                        <div class="btn-group" data-toggle="buttons-radio">
                           <button class="btn  {{#if settings.frontpage.use_markdown}}active{{/if}}" data-type="markdown">Markdown</button>
                           <button class="btn  {{#if settings.frontpage.use_html}}active{{/if}}"     data-type="html">Html</button>
                           <button class="btn  {{#if settings.frontpage.use_link}}active{{/if}}"     data-type="link">Link</button>
                        </div>
                        <input class="showActivityFeed" type="checkbox" {{#if settings.frontpage.show_activity_feed}}checked="checked"{{/if}}> Show Activity Feed
                        <div class="type markdown" {{#unless settings.frontpage.use_markdown}}style="display:none"{{/unless}}>
                            <div class="row">
                                <div class="span8">
                                    <textarea rows="" cols="80">{{settings.frontpage.markdown}}</textarea>
                                </div>
                                <div class="span4">
                                      <div class="module newuser sidebar-help" id="how-to-format" style="display: block; ">
                                          <h4>How to Format</h4>
                                          <p><span class="dingus">►</span> put returns between paragraphs</p>
                                          <p><span class="dingus">►</span> for linebreak add 2 spaces at end</p>
                                          <p><span class="dingus">►</span> <i>_italic_</i> or <b>**bold**</b></p>
                                          <p><span class="dingus">►</span> quote by placing &gt; at start of line</p>
                                          <p><span class="dingus">►</span> to make links</p>
                                          <p>&lt;http://foo.com&gt;<br>[foo](http://foo.com)<br>&lt;a href="http://foo.com"&gt;foo&lt;/a&gt;</p>
                                          <p><span class="dingus">►</span> <a href="http://meta.stackoverflow.com/questions/1777/what-html-tags-are-allowed" target="_blank">basic HTML</a> also allowed</p>
                                          <p class="ar">
                                          <a href="/editing-help" target="_edithelp">formatting help »</a><br>
                                          <a href="/questions/how-to-ask">asking help »</a>
                                          </p>
                                      </div>
                                </div>
                             </div>
                        </div>
                        <div class="type html" {{#unless settings.frontpage.use_html}}style="display:none"{{/unless}}>
                            <ul>
                                <li>Bootstrap classes are available to you. See <a href="http://twitter.github.com/bootstrap/">Documentation</a></li>
                                <li>To add the activity feed, add \{{activityFeef}}. </li>
                            </ul>
                            <textarea rows="" cols="80">{{settings.frontpage.html}}</textarea>
                        </div>
                        <div class="type link" {{#unless settings.frontpage.use_link}}style="display:none"{{/unless}}>
                            <input type="text" id="frontpage_link_url" name="frontpage_link_url" placeholder="Enter URL..." value="{{settings.frontpage.link_url}}" />
                        </div>

                        <button class="btn primary large" data-loading-text="Saving..">Save</button>



            </div>
            <div class="tab-pane" id="theme">
                <div class="row">
                    <div class="offset1 span8">
                        <form class="form-horizontal a">
                            <fieldset>

                                <legend>Top Nav Bar</legend>

                                <div class="control-group">
                                    <label class="control-label" for="bg_color">Background Color</label>
                                    <div class="controls">
                                        <input type="text" class="span2" name="bg_color" value="{{settings.top_nav_bar.bg_color}}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="link_color">Inactive Link Color</label>
                                    <div class="controls">
                                        <input type="text" class="span2" name="link_color" value="{{settings.top_nav_bar.link_color}}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="active_link_color">Active Link Color</label>
                                    <div class="controls">
                                        <input type="text" class="span2" name="active_link_color" value="{{settings.top_nav_bar.active_link_color}}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="active_bar_color">Active Bar Color</label>
                                    <div class="controls">
                                        <input type="text" class="span2" name="active_bar_color" value="{{settings.top_nav_bar.active_bar_color}}">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="show_brand">Brand</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                          <input type="checkbox" id="show_brand" name="show_brand" {{#if settings.top_nav_bar.show_brand}}checked="checked"{{/if}}> Show Brand
                                      </label>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                        <!-- form in a form to support post image -->
                        <form class="form-horizontal b" method="post" id="image-upload-form">
                            <fieldset>
                                    <div class="control-group indent show_brand {{#unless settings.top_nav_bar.show_brand}}hidden{{/unless}}">
                                        <label class="control-label" for="brand_img">Image</label>
                                        <div class="controls">
                                            <input type="hidden" name="_rev" id="attachmentRevision" value="{{settings._rev}}"/>
                                            <input type="file" class="span6" id="brand_img" name="_attachments">

                                            <img id="brand_img_display" src="_db/settings/{{settings.top_nav_bar.icon_name}}" {{#unless settings.top_nav_bar.icon_name}}class="hidden"{{/unless}} />

                                        </div>
                                    </div>
                            </fieldset>
                        </form>
                        <form class="form-horizontal c">
                            <fieldset>
                                <div class="control-group indent show_brand {{#unless settings.top_nav_bar.show_brand}}hidden{{/unless}}">
                                    <label class="control-label" for="brand_link">Link</label>
                                    <div class="controls">
                                      <input type="text" class="span6" id="brand_link" name="brand_link"  value="{{settings.top_nav_bar.brand_link}}">
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label" for="show_gravatar">User</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                          <input type="checkbox" name="show_username"  {{#if settings.top_nav_bar.show_username}}checked="checked"{{/if}}> Show Username
                                      </label>
                                      <label class="checkbox">
                                          <input type="checkbox" name="show_gravatar"  {{#if settings.top_nav_bar.show_gravatar}}checked="checked"{{/if}}> Show Gravatar Icon
                                      </label>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="show_brand">Futon</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                          <input type="checkbox" id="admin_show_futon" name="admin_show_futon" {{#if settings.top_nav_bar.admin_show_futon}}checked="checked"{{/if}}> Show Futon Nav To Admins
                                      </label>
                                    </div>
                                </div>

                                <div class="form-actions">
                                   <a href="#" class="btn primary">Save changes</a>
                                   <button type="reset" class="btn">Cancel</button>
                                 </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="links">
                <p>Manage other links on the navbar</p>

                <div>
                    <a href="#" class="btn success add-link">Add Link</a>
                </div>

                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>URL</th>
                      <th class="action">Actions</th>
                    </tr>
                  </thead>
                  <tbody class="link-table">

                  </tbody>
                </table>




                <form id="add-link" class="form well" style="display: none;">
                    <label>Name</label>
                    <input type="text" name="dashboard_title" />
                    <label>Url</label>
                    <input type="text" name="url" />
                    <div class="form-actions">
                       <a id="add-link-final" href="#" class="btn primary">Save changes</a>
                       <button id="add-link-cancel" type="reset" class="btn">Cancel</button>
                     </div>
                </form>

            </div>
            <div class="tab-pane" id="ordering">
                <h2>Manage navbar ordering</h2>
                <p>
                    Drag the items below into the order you want them to appear on the nav bar. Hide lesser used items in the
                    'More' menu dropdown.
                </p>


                <h4>Visible Items</h4>
                <ul id="sortable1" class="connectedSortable">

                </ul>

                <h4>'More' dropdown menu</h4>
                <ul id="sortable2" class="connectedSortable">

                </ul>

                <div class="form-actions">
                    <button id="save-ordering-final" href="#" class="btn primary" disabled="disabled">Save changes</button>
                    <a href="settings#/ordering" class="btn">Cancel</a>
                </div>


            </div>
            <div class="tab-pane" id="sessions">
                <div class="row">
                    <div class="offset1 span8">
                        <form class="form-horizontal" name="settings">
                            <fieldset>
                                <legend>Session Options</legend>
                                <!-- Frontpage -->
                                <div class="control-group">
                                    <label class="control-label" for="redirect_frontpage_on_anon">FrontPage</label>
                                    <div class="controls">
                                      <label class="checkbox">
                                          <input type="checkbox" name="redirect_frontpage_on_anon" {{#if settings.sessions.internal.redirect_frontpage_on_anon}}checked="checked"{{/if}}> Redirect to login page if not logged in
                                      </label>
                                    </div>
                                </div>


                                <div class="control-group">
                                   <label class="control-label" for="session_type">Session Handler</label>
                                   <div class="controls">
                                     <label class="radio">
                                           <input id="session_type_internal" class="default" type="radio" name="type" value="internal" {{#if settings.sessions.type_internal}}checked="checked"{{/if}}>
                                           Default (built-in)
                                     </label>
                                     <label class="radio">
                                         <input id="session_type_other"  type="radio" name="type" value="other" {{#if settings.sessions.type_other}}checked="checked"{{/if}}>
                                         Other
                                     </label>
                                   </div>
                               </div>


                                <!-- Login Type -->
                                <div class="control-group internal_session_method" {{#unless settings.sessions.type_internal}}style="display: none;"{{/unless}}>
                                    <label class="control-label" for="login_type">Login Method</label>
                                    <div class="controls">
                                      <label class="radio">
                                            <input type="radio" name="login_type" value="local" {{#if settings.sessions.login_type_local}}checked="checked"{{/if}}>
                                            Local Login
                                      </label>
                                      <label class="radio">
                                          <input type="radio" name="login_type" value="browserid" {{#if settings.sessions.login_type_browserid}}checked="checked"{{/if}}>
                                          BrowserID
                                      </label>
                                    </div>
                                </div>
                                <div class="other_session_method" {{#unless settings.sessions.type_other}}style="display: none;"{{/unless}}>
                                    <div class="control-group " >
                                        <label class="control-label" for="login_url">Login Url</label>
                                        <div class="controls">
                                            <input type="text" class="span6"  name="login_url"  value="{{settings.sessions.other.login_url}}">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="login_url_next">Login Url with redirect</label>
                                        <div class="controls">
                                            <input type="text" class="span6"  name="login_url_next"  value="{{settings.sessions.other.login_url_next}}">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="signup_url">Signup Url</label>
                                        <div class="controls">
                                            <input type="text" class="span6"  name="signup_url"  value="{{settings.sessions.other.signup_url}}">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="profile_url">Profile Url</label>
                                        <div class="controls">
                                            <input type="text" class="span6"  name="profile_url"  value="{{settings.sessions.other.profile_url}}">
                                        </div>
                                    </div>
                                </div>
                        {{#if isAdmin}}
                            <div class="control-group">
                              <label class="control-label" for="require_valid_user">Require Valid User</label>
                              <div class="controls">
                                <label class="checkbox">
                                  <input type="checkbox" name="require_valid_user" {{#if settings.sessions.require_valid_user_on}}checked="checked"{{/if}}> Require HTTP Auth on all database requests
                                </label>
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="session_persist">Enable Persistent Sessions</label>
                              <div class="controls">
                                <input type="checkbox" name="session_persist" {{#if settings.sessions.session_persist}}checked="checked"{{/if}}>
                              </div>
                            </div>
                            <div class="control-group" style="clear:both">
                              <label class="control-label" for="session_timeout">Session Timeout</label>
                              <div class="controls">
                                <input class="span1" type="text" name="session_timeout" value="{{settings.sessions.session_timeout}}" maxlength="6"> <span class="help-block">seconds</span>
                              </div>
                            </div>
                        {{/if}}
                            <div class="form-actions">
                               <a href="#" class="btn primary">Save</a>
                               <button type="reset" class="btn">Cancel</button>
                             </div>
                          </fieldset>
                      </form>
                  </div>
                </div>
            </div>
            <div class="tab-pane" id="admins">
                <div class="row multiUser">
                    <div class=" span5">
                        <button href="#add-admin-dialog" data-toggle="modal" class="btn small success">Add Admin</button>

                        <table class="table">
                          <thead>
                            <tr>
                              <th>Username</th>
                              <th class="action">Actions</th>
                            </tr>
                          </thead>
                          <tbody class="admin-list">

                          </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="tab-pane" id="groups">
                <div class="row multiUser">
                    <div class=" span5">


                        <p>Groups are things like 'Accounting', or 'Sales Team' and provide an easy way to manage application access.</p>


                        <button href="#add-role-dialog" data-toggle="modal" class="btn small success">Add Group</button>

                        <table class="table">
                          <thead>
                            <tr>
                              <th>Group</th>
                              <th class="action">Actions</th>
                            </tr>
                          </thead>
                          <tbody class="role-list">

                          </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="tab-pane" id="host-options">
                <div class="row">
                    <div class="offset1 span8">

                        <div class="alert">
                            <p>
                                <b>Heads Up:</b> Changing the following settings is not advised unless you know what you are doing. See <a href="http://garden20.com/wiki/Host_Options">host options</a>.
                            </p>
                        </div>

                        <form class="form-horizontal a">
                            <fieldset>

                                <!-- Short URLS -->
                                <div class="control-group">
                                    <label class="control-label" for="short_urls">Short URLs</label>
                                    <div class="controls">
                                      <label class="checkbox">
                                          <input type="checkbox" id="short_urls" name="short_urls" {{#if settings.host_options.short_urls}}checked="checked"{{/if}}> Use Short Urls
                                      </label>
                                    </div>
                                </div>
                                <div class="control-group indent short_urls {{#unless settings.host_options.short_urls}}hidden{{/unless}}" >
                                    <div class="controls">
                                      <input type="text" class="span6" id="hostnames" name="hostnames" value="{{settings.host_options.hostnames}}">
                                      <p class="help-block">A comma seperated list of hostnames to bind to, eg: http://localhost:5984,http://app.com</p>
                                    </div>
                                </div>
                                <div class="control-group indent short_urls {{#unless settings.host_options.short_urls}}hidden{{/unless}}">
                                    <div class="controls">
                                        <label class="checkbox">
                                              <input type="checkbox" name="short_app_urls" {{#if settings.host_options.short_app_urls}}checked="checked"{{/if}}>Short App URLs
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="rootDashboard" {{#if settings.host_options.rootDashboard}}checked="checked"{{/if}}>Dashboard On Root
                                        </label>
                                    </div>
                                </div>

                                <!-- End Short URLS -->

                                <div class="form-actions">
                                   <a href="#" class="btn primary">Save changes</a>
                                   <button type="reset" class="btn">Cancel</button>
                                 </div>
                            </fieldset>
                        </form>
                     </div>
                </div>
            </div>
            <div class="tab-pane" id="users">
               <div class="row ">
                   <div class=" span5">
                       <button href="#add-user-dialog" data-toggle="modal" class="btn small success">Add User</button>

                       <table class="table">
                         <thead>
                           <tr>
                             <th>Username</th>
                             <th>Groups</th>
                             <th class="action">Actions</th>
                           </tr>
                         </thead>
                         <tbody class="users-list">

                         </tbody>
                       </table>

                   </div>
               </div>
           </div>




          </div>
        </div>



<div id="add-admin-dialog" class="modal fade" style="display: none;">
    <div class="modal-header">
        <h3>Add Admin</h3>
    </div>
    <div class="modal-body">
        <p>Admins can install apps, and maintain users.</p>
        <form>
            <div class="control-group">
              <label>Name</label>
              <input type="text" id="admin-name" class="required"/>
            </div>
            <div class="control-group">
              <label>Password</label>
              <input type="text" id="admin-password" class="password required" />
              <button class="btn small generate-password">Generate Password</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button id="add-admin-final" class="btn primary">Add</button>
        <button class="btn cancel">Cancel</button>
    </div>
</div>

<div id="add-user-dialog" class="modal fade" style="display: none;">
    <div class="modal-header">
        <h3>Create a new user</h3>
    </div>
    <div class="modal-body">
        <form>
          <div class="control-group">
            <label>User email address</label>
            <input type="text" id="user-email" />
          </div>

            {{#if settings.sessions.login_type_local}}
            <div class="control-group">
              <label>Password</label>
              <input type="text" id="user-password" class="password" />
              <button class="btn small generate-password">Generate Password</button>
            </div>
            {{/if}}

            <div class="control-group">
              <label>Name</label>
              <input type="text" id="user-name" />
            </div>

            <div class="control-group">
              <label>Groups</label>
              <select id="new-user-roles" multiple  data-placeholder="Enter a group name"></select>
            </div>

        </form>
    </div>
    <div class="modal-footer">

        <a href="mailto:someone@example.com?subject=This%20is%20the%20subject&body=This%20is%20the%20body" id="add-user-final-email" class="btn primary">Add, send email</a>
        <button id="add-user-final" class="btn">Add, don't email</button>

        <button class="btn cancel">Cancel</button>
    </div>
</div>



<div id="add-role-dialog" class="modal fade" style="display: none;">
    <div class="modal-header">
        <h3>Add Group</h3>
    </div>
    <div class="modal-body">
        <p>Please provide a name like 'Accounting', or 'Sales Team'.</p>
        <form>
            <label>Group Name</label>
            <input type="text" id="role-name" />
        </form>



    </div>
    <div class="modal-footer">
        <button id="add-role-final" class="btn primary">Add</button>
        <button class="btn cancel">Cancel</button>
    </div>
</div>

        {{/if}}
