<tr>
    <td class="location" colspan="5">
        Apps from <a href="{{location}}">{{location}}</a>
    </td>
</tr>
{{#each apps}}
<tr class="{{id}}">
    <td>{{value.dashboard_title}} </td>
    <td>{{value.app}}</td>
    <td class="installed-version">{{value.version}}</td>
    <td class="available-version"><img src="static/img/ajax-loader.gif" alt="loading..." /></td>
    <td>
        <a href="#apps/{{id}}" class="btn small">Settings</a>
        <div class="update-action" style="display: none;">
            <button class="btn primary small update-run-app" data-loading-text="Updating..." data-complete-text="Finished!" data-id="{{id}}">Update</button>
        </div>
    </td>
</tr>
{{/each}}