
{{#each syncs}}

    <div class="sync-block" data-id="{{_id}}">
        <button class="btn danger small cancel-existing-sync"  data-id="{{_id}}">Cancel This Sync</button>
        <b>Garden:</b> <a href="{{name}}">{{name}}</a>
        <table class="table">
            <thead>
            <tr>
                <th>Sync</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {{#each replications_group}}
                <tr>
                    <td>
                        {{name}}
                    </td>
                    <td>
                        {{sync_type_human}}
                    </td>
                    <td>
                        {{#if status_ok}}
                            <i class="icon ok"></i>
                        {{else}}
                        <i class="icon remove"></i>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>



    </div>
{{/each}}


<button class="btn large success add-sync  {{#unless has_sync}}hide{{/unless}}">Add Garden Sync</button>





<div class="new new-sync {{#if has_sync}}hide{{/if}}">
    <h3>New Garden Sync</h3>
    <form class="form new_sync">
        <label>Garden</label>
        <input type="text" placeholder="Enter URL" name="url" class="span7"/>
        <label>Username</label>
        <input type="text" id="uname" />
        <label>Password</label>
        <input type="password" id="pw" />
        <div class="form-actions step1">
               <a class="cancel-new-sync" href="#">cancel</a>
               <button  class="btn">Next</button>
        </div>
    </form>
    <div class="mappings">

    </div>
    <div class="form-actions step2 hide">
           <a class="cancel-new-sync" href="#">cancel</a>
           <button  class="btn primary">Start Sync</button>
    </div>


</div>