        <div class="row title">
            <h1>Settings</h1>
            Configure this dashboard.
        </div>

        {{#unless isAdmin}}
            <div class="alert-message warning">
              <p>You need to be an admin to view/edit this section.</p>
            </div>

        {{/unless}}
        {{#if isAdmin}}

        <div class="tabbable">
          <ul class="nav tabs">
            <li class="active"><a href="#apps" data-toggle="tab">Apps</a></li>
            <li><a href="#frontpage" data-toggle="tab">Front Page</a></li>
            <li><a href="#navigation" data-toggle="tab">Navigation</a></li>
            <li><a href="#admins" data-toggle="tab">Admins</a></li>
            <li><a href="#roles" data-toggle="tab">Roles</a></li>
          </ul>



          <div class="tab-content">
              <div class="tab-pane active" id="apps">
                  
                  


                  <div class="right">
                      <a href="install" class="btn success large">Install New App</a>
                  </div>
                  <h3>Installed Apps</h3>
                  <table class="table">
                      <thead>
                        <tr>
                            <th>Name</th><th>App</th><th>Installed Version</th><th>Available Version</th><th></th>
                        </tr>
                      </thead>
                      <tbody class="update-board">
                            <tr class="dashboard">
                                <td>Dashboard</td>
                                <td>dashboard</td>
                                <td class="installed-version"><img src="static/img/ajax-loader.gif" alt="loading..." /></td>
                                <td class="available-version"><img src="static/img/ajax-loader.gif" alt="loading..." /></td>
                                <td>
                                    <a href="#" class="btn small">Settings</a>
                                    <div class="update-action" style="display: none;"><button class="btn primary small update-run" data-loading-text="Updating..." data-complete-text="Finished!">Update</button></div> 

                                </td>
                            </tr>
                      </tbody>
                  </table>
              </div>
            <div class="tab-pane front-page" id="frontpage">



                        <div class="btn-group" data-toggle="buttons-radio">
                           <button class="btn  {{#if settings.frontpage.use_markdown}}active{{/if}}" data-type="markdown">Markdown</button>
                           <button class="btn  {{#if settings.frontpage.use_html}}active{{/if}}"     data-type="html">Html</button>
                        </div>
                        <input class="showActivityFeed" type="checkbox" {{#if settings.frontpage.show_activity_feed}}checked="checked"{{/if}}> Show Activity Feed
                        <div class="type markdown" {{#unless settings.frontpage.use_markdown}}style="display:none"{{/unless}}>
                            <div class="row">
                                <div class="span8">
                                    <textarea rows="" cols="80">{{settings.frontpage.markdown}}</textarea>
                                </div>
                                <div class="span4">
                                      <div class="module newuser sidebar-help" id="how-to-format" style="display: block; ">
                                          <h4>How to Format</h4>
                                          <p><span class="dingus">►</span> put returns between paragraphs</p>
                                          <p><span class="dingus">►</span> for linebreak add 2 spaces at end</p>
                                          <p><span class="dingus">►</span> <i>_italic_</i> or <b>**bold**</b></p>
                                          <p><span class="dingus">►</span> quote by placing &gt; at start of line</p>
                                          <p><span class="dingus">►</span> to make links</p>
                                          <p>&lt;http://foo.com&gt;<br>[foo](http://foo.com)<br>&lt;a href="http://foo.com"&gt;foo&lt;/a&gt;</p>
                                          <p><span class="dingus">►</span> <a href="http://meta.stackoverflow.com/questions/1777/what-html-tags-are-allowed" target="_blank">basic HTML</a> also allowed</p>
                                          <p class="ar">
                                          <a href="/editing-help" target="_edithelp">formatting help »</a><br>
                                          <a href="/questions/how-to-ask">asking help »</a>
                                          </p>
                                      </div>
                                </div>
                             </div>
                        </div>
                        <div class="type html" {{#unless settings.frontpage.use_html}}style="display:none"{{/unless}}>
                            <ul>
                                <li>Bootstrap classes are available to you. See <a href="http://twitter.github.com/bootstrap/">Documentation</a></li>
                                <li>To add the activity feed, add \{{activityFeef}}. </li>
                            </ul>
                            <textarea rows="" cols="80">{{settings.frontpage.html}}</textarea>
                        </div>


                        <button class="btn primary large" data-loading-text="Saving..">Save</button>



            </div>
            <div class="tab-pane" id="navigation">
                <div class="row">
                    <div class="offset1 span8">
                        <form class="form-horizontal a">
                            <fieldset>

                                <legend>Host Options</legend>

                                <!-- Short URLS -->
                                <div class="control-group">
                                    <label class="control-label" for="short_urls">Short URLs</label>
                                    <div class="controls">
                                      <label class="checkbox">
                                          <input type="checkbox" id="short_urls" name="short_urls" {{#if settings.host_options.short_urls}}checked="checked"{{/if}}> Use Short Urls
                                      </label>
                                    </div>
                                </div>
                                <div class="control-group indent short_urls {{#unless settings.host_options.short_urls}}hidden{{/unless}}" >
                                    <div class="controls">
                                      <input type="text" class="span6" id="hostnames" name="hostnames" value="{{settings.host_options.hostnames}}">
                                      <p class="help-block">A comma seperated list of hostnames to bind to, eg: http://localhost:5984,http://app.com</p>
                                    </div>
                                </div>
                                <div class="control-group indent short_urls {{#unless settings.host_options.short_urls}}hidden{{/unless}}">
                                    <div class="controls">
                                        <label class="checkbox">
                                              <input type="checkbox" name="short_app_urls" {{#if settings.host_options.short_app_urls}}checked="checked"{{/if}}>Short App URLs
                                        </label>
                                        <label class="checkbox">
                                            <input type="checkbox" name="rootDashboard" {{#if settings.host_options.rootDashboard}}checked="checked"{{/if}}>Dashboard On Root
                                        </label>
                                    </div>
                                </div>

                                <!-- End Short URLS -->

                                <!-- Frontpage -->
                                <div class="control-group">
                                    <label class="control-label" for="redirect_frontpage_on_anon">FrontPage</label>
                                    <div class="controls">
                                      <label class="checkbox">
                                          <input type="checkbox" name="redirect_frontpage_on_anon" {{#if settings.host_options.redirect_frontpage_on_anon}}checked="checked"{{/if}}> Redirect to login page if not logged in.
                                      </label>
                                    </div>
                                </div>



                                <legend>Top Nav Bar</legend>

                                <div class="control-group">
                                    <label class="control-label" for="bg_color">Background Color</label>
                                    <div class="controls">
                                        <input type="text" class="span2" name="bg_color" value="{{settings.top_nav_bar.bg_color}}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="link_color">Inactive Link Color</label>
                                    <div class="controls">
                                        <input type="text" class="span2" name="link_color" value="{{settings.top_nav_bar.link_color}}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="active_link_color">Active Link Color</label>
                                    <div class="controls">
                                        <input type="text" class="span2" name="active_link_color" value="{{settings.top_nav_bar.active_link_color}}">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="active_bar_color">Active Bar Color</label>
                                    <div class="controls">
                                        <input type="text" class="span2" name="active_bar_color" value="{{settings.top_nav_bar.active_bar_color}}">
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="show_brand">Brand</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                          <input type="checkbox" id="show_brand" name="show_brand" {{#if settings.top_nav_bar.show_brand}}checked="checked"{{/if}}> Show Brand
                                      </label>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                        <!-- form in a form to support post image -->
                        <form class="form-horizontal b" method="post" id="image-upload-form">
                            <fieldset>
                                    <div class="control-group indent show_brand {{#unless settings.top_nav_bar.show_brand}}hidden{{/unless}}">
                                        <label class="control-label" for="brand_img">Image</label>
                                        <div class="controls">
                                            <input type="hidden" name="_rev" id="attachmentRevision" value="{{settings._rev}}"/>
                                            <input type="file" class="span6" id="brand_img" name="_attachments">

                                            <img id="brand_img_display" src="_db/settings/{{settings.top_nav_bar.icon_name}}" {{#unless settings.top_nav_bar.icon_name}}class="hidden"{{/unless}} />

                                        </div>
                                    </div>
                            </fieldset>
                        </form>
                        <form class="form-horizontal c">
                            <fieldset>
                                <div class="control-group indent show_brand {{#unless settings.top_nav_bar.show_brand}}hidden{{/unless}}">
                                    <label class="control-label" for="brand_link">Link</label>
                                    <div class="controls">
                                      <input type="text" class="span6" id="brand_link" name="brand_link"  value="{{settings.top_nav_bar.brand_link}}">
                                    </div>
                                </div>


                                <div class="control-group">
                                    <label class="control-label" for="show_gravatar">User</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                          <input type="checkbox" name="show_username"  {{#if settings.top_nav_bar.show_username}}checked="checked"{{/if}}> Show Username
                                      </label>
                                      <label class="checkbox">
                                          <input type="checkbox" name="show_gravatar"  {{#if settings.top_nav_bar.show_gravatar}}checked="checked"{{/if}}> Show Gravatar Icon
                                      </label>
                                    </div>
                                </div>


                                <div class="form-actions">
                                   <a href="#" class="btn primary">Save changes</a>
                                   <button type="reset" class="btn">Cancel</button>
                                 </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="admins">
                <div class="row multiUser">
                    <div class=" span5">
                        <button href="#add-admin-dialog" data-toggle="modal" class="btn small add-button">Add Admin</button>
                        <h6>Admins</h6>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>User</th>
                              <th class="action">Actions</th>
                            </tr>
                          </thead>
                          <tbody class="admin-list">

                          </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="tab-pane" id="roles">
                <div class="row multiUser">
                    <div class=" span5">
                        <button href="#add-role-dialog" data-toggle="modal" class="btn small add-button">Add Role</button>
                        <h6>User Roles</h6>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Role</th>
                              <th class="action">Actions</th>
                            </tr>
                          </thead>
                          <tbody class="role-list">

                          </tbody>
                        </table>

                    </div>
                </div>
            </div>





          </div>
        </div>



<div id="add-admin-dialog" class="modal fade" style="display: none;">
    <div class="modal-header">
        <h3>Add Admin</h3>
    </div>
    <div class="modal-body">
        <p>Admins can install apps, and maintain users.</p>
        <form>
            <label>Name</label>
            <input type="text" id="admin-name" />
            <label>Password</label>
            <input type="password" id="admin-password">
        </form>



    </div>
    <div class="modal-footer">
        <button id="add-admin-final" class="btn primary">Add</button>
        <button class="btn cancel">Cancel</button>
    </div>
</div>

<div id="add-role-dialog" class="modal fade" style="display: none;">
    <div class="modal-header">
        <h3>Add Role</h3>
    </div>
    <div class="modal-body">
        <p>Roles are a way to group permissions for users.</p>
        <form>
            <label>Role Name</label>
            <input type="text" id="role-name" />
        </form>



    </div>
    <div class="modal-footer">
        <button id="add-role-final" class="btn primary">Add</button>
        <button class="btn cancel">Cancel</button>
    </div>
</div>

        {{/if}}