{{#if settings.top_nav_bar.show_brand}}

    {{#if settings.top_nav_bar.brand_link}}
        <a href="{{settings.top_nav_bar.brand_link}}">
            <img class="home home-icon-custom" src="{{dashboard_url}}_db/settings/{{settings.top_nav_bar.icon_name}}" />
        </a>
    {{else}}
        <img class="home home-icon-custom" src="{{dashboard_url}}_db/settings/{{settings.top_nav_bar.icon_name}}" />
    {{/if}}
{{else}}
    <a href="{{dashboard_url}}" class="home home-icon"  title="Home" ></a>
{{/if}}

<ul class="nav">

{{#if settings.top_nav_bar.show_brand}}
    <li class="home"><a class="home" href="{{dashboard_url}}">Home</a></li>
{{/if}}
{{#unless hide_apps}}
    {{#each apps}}
            <li><a href="{{link}}">{{title}}</a></li>
    {{/each}}
{{/unless}}
{{#if isAdmin}}
        <li><a href="{{settings_url}}">Settings</a></li>
{{/if}}
</ul>
<div id="kanso-topbar-session">
    {{#unless isAdminParty}}
        {{#if username}}
            <a class="username" href="">

                {{#if settings.top_nav_bar.show_gravatar}}
                    <img src="{{avatar}}" alt="{{username}}">
                {{/if}}
                {{#if settings.top_nav_bar.show_username}}
                    {{username}}
                {{/if}}
            </a>
        {{else}}
            <a class="login" href="{{login_url}}">Login</a>
        {{/if}}
    {{/unless}}
    </div>
</div>